/* Navbar.css */
.navbar {
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(187, 179, 179, 0.7);
    position: relative;
    z-index: 1;
    font-family: 'Roboto', sans-serif;
}

.navbar-title {
    display: flex;
    align-items: center;
    color: rgb(63, 2, 89);
    font-size:x-large;
}

.navbar-icon {
    width: 60px;
    height: auto;
    margin-right: 10px;
}

.navbar-text {
    color: rgb(255, 255, 255);
    font-size: 30px;
}

.navbar-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.navbar-item {
    margin-left: 30px;
    position: relative; /* Needed for hover states */
}

.navbar-link {
    color: rgb(255, 255, 255);
    text-decoration: none;
    padding: 10px 15px;
    transition: background-color 0.3s ease-in-out;
    position: relative; /* Ensure the hover works properly */
    z-index: 2; /* Ensures it is above other elements */
}

.navbar-link:hover {
    background-color: #3f3398;
    border-radius: 5px;
    color: aliceblue;
    cursor: pointer;
    z-index: 3; /* Hover state stays on top */
}

.navbar-search {
    padding: 8px;
    margin-left: 20px;
    border: none;
    border-radius: 4px;
    font-size: 16px;
}

.navbar-search:focus {
    outline: none;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

